/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/imports/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/assets-administrador/docs/*
/public/assets-administrador/img/*
/public/docs
/public/image
/public/img
/public/videos/*
!/public/videos/
!/public/videos/hero.mp4
/public/apexcharts-bundle
/public/fontAwesome
/public/webfonts
/sped.rar
/cookies.txt
/hts-log.txt
/session-ses_02d7.md
/scratch/
/generate_siglas.php
/list_components.php
/backblue.gif
/fade.gif
/index.html
/unpkg.com/
